@font-face {
  font-family: $Rubiklg;
  src: url(../assets/fonts/Rubik-Regular.ttf);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: $RubikBold;
  src: url(../assets/fonts/Rubik-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: $RubikBold1;
  src: url(../assets/fonts/Rubik-SemiBold.ttf);
  font-style: normal;
  font-weight: 700;
}
