@font-face {
  font-family: "Rubik-Regular";
  src: url(../assets/fonts/Rubik-Regular.ttf);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Rubik-Bold";
  src: url(../assets/fonts/Rubik-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Rubik-Bold";
  src: url(../assets/fonts/Rubik-SemiBold.ttf);
  font-style: normal;
  font-weight: 700;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fbf8ec;
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  max-width: 1238px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 24px 0px;
  background-color: white;
}
.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}
.header__left2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.header__left2-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #70c05b;
  color: white;
  gap: 16px;
  padding: 8px 48px 8px 8px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: "Rubik-Regular";
}
.header__left2-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background: white;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  font-family: "Rubik-Regular";
}
.header__left2-right p {
  margin-right: 100px;
}
.header__right-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header__right-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header__right-right p {
  font-family: "Rubik-Bold";
  font-size: 16px;
  line-height: 150%;
}
.header__rigt-left-card p {
  font-family: "Rubik-Regular";
  font-size: 12px;
  line-height: 150%;
}
.header__rigt-left-card img {
  margin-left: 11px;
}

.hero {
  padding: 10px;
  background-image: url(../../assets/images/home-img/hero_bg2.png);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.hero__right h1 {
  font-family: "Rubik-Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: var(--main-on-surface, #414141);
  text-align: center;
}

.aksiya {
  margin-top: 80px;
  padding: 10px 0px;
}
.aksiya__title {
  font-family: "Rubik-Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 40px;
}
.aksiya__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 40px;
}
.aksiya__item {
  background-color: white;
  padding: 10px;
}
.aksiya__list__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aksiya__item-img {
  margin-top: 10px;
}
.aksiya__list__card {
  margin-bottom: 10px;
}
.aksiya__list__card p {
  font-family: "Rubik-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #bfbfbf;
}
.aksiya__title4 {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.aksiya__yulduz {
  margin: 10px 0px;
}
.aksiya__title3 {
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: "Rubik-Regular";
  color: #70c05b;
}
.aksiya__aktiv {
  background-color: #ff6633;
  color: white;
}
.aksiya__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aksiya__top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.aksiya__top-right p {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.novinki {
  margin-top: 60px;
  padding: 10px 0px;
}
.novinki__title {
  font-family: "Rubik-Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 40px;
}
.novinki__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 40px;
}
.novinki__item {
  background-color: white;
  padding: 10px;
}
.novinki__item-img {
  margin-top: 10px;
}
.novinki__list__card {
  margin-bottom: 10px;
}
.novinki__list__card p {
  font-family: "Rubik-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #bfbfbf;
}
.novinki__list__card img {
  margin-top: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.novinki__title4 {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.novinki__yulduz {
  margin: 10px 0px;
}
.novinki__title3 {
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: "Rubik-Regular";
  color: #70c05b;
}
.novinki__aktiv {
  background-color: #ff6633;
  color: white;
}
.novinki__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.novinki__top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.novinki__top-right p {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.front {
  margin-top: 80px;
  padding: 10px 0px;
}
.front__title {
  font-family: "Rubik-Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 40px;
}
.front__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 40px;
}
.front__item {
  background-color: white;
  padding: 10px;
}
.front__list__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.front__item-img {
  margin-top: 10px;
}
.front__list__card {
  margin-bottom: 10px;
}
.front__list__card p {
  font-family: "Rubik-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #bfbfbf;
}
.front__title4 {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.front__yulduz {
  margin: 10px 0px;
}
.front__title3 {
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: "Rubik-Regular";
  color: #70c05b;
}
.front__aktiv {
  background-color: #ff6633;
  color: white;
}
.front__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.front__top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.front__top-right p {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.karta {
  margin: 80px 0px 100px 0px;
}
.karta__top h2 {
  font-family: "Rubik-Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 40px;
}
.karta__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.karta__left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcd5ba;
  padding: 10px 30px 10px 30px;
  gap: 21px;
  border-radius: 4px;
  background: var(--main-primary-muted, #fcd5ba);
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}
.karta__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  background-color: #e5ffde;
  border-radius: 4px;
  background: var(--main-secondary-muted, #e5ffde);
  padding: 10px 30px 10px 30px;
}
.karta__left-left h2 {
  font-family: "Rubik-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.karta__left-left p {
  font-family: "Rubik-Regular";
  margin-top: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.karta__right-left h2 {
  font-family: "Rubik-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.karta__right-left p {
  font-family: "Rubik-Regular";
  margin-top: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.magazin__top h2 {
  font-family: "Rubik-Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.magazin__list {
  display: flex;
  gap: 24px;
  margin: 24px 0px;
}
.magazin__item p {
  font-family: "Rubik-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #606060;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  background-color: #f3f2f1;
}
.magazin__item-active {
  border-radius: 4px;
  background: #70c05b;
  color: white;
}

.magazin__item-active {
  border-radius: 4px;
  background: #70c05b;
  color: white;
}

.stati {
  margin: 60px 0px 60px 0px;
}
.stati__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.stati__item {
  background-color: white;
  padding: 10px;
}
.stati__top h2 {
  font-family: "Rubik-Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 40px;
}
.stati__day {
  margin: 15px 0px;
  font-family: "Rubik-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.stati__title {
  font-family: "Rubik-Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  height: 60px;
}
.stati__text {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 10px 0px;
}
.stati__btn {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: #70c05b;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background: var(--main-secondary-muted, #e5ffde);
}
.stati__activ {
  color: white;
  border-radius: 4px;
  background: #70c05b;
}

.footer {
  padding: 35px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.footer__item a {
  font-family: "Rubik-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: black;
}
.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.footer__right-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.footer__right-tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.footer__right-tel a {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}/*# sourceMappingURL=main.css.map */